.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
}
.message__user {
  text-align: left !important;
  color: white;
  margin-left: auto;
}

.message__userCard {
  background-color: #0b81ff !important;
  margin: auto;
}
.message__guestCard {
  background-color: #e9e9eb !important;
}
